body {
    font-family: sans-serif;
}

header, div#row-second {
    
    height: 50px;
    display: block;
    margin-bottom: 40px;

}

div#right-header, div#info {
    height: 100%;
    float: right;
}
div#left-header, div#address {
    height:100%;
    float: left;
}

div#row-second, h1#headline {

   clear: left;
}

div#muster_stamp {

    color: red;
    position: fixed;
    font-family: monospace;
    font-size: 60px;
    transform: rotate(20deg);
    box-shadow: 3px 3px 3px 3px black;
    margin-left: 200px;
    padding: 20px;
    font-weight: 600;
}

img#logo {

    /*
    margin-right: 30px;
    float: left;
    */
    margin-bottom: 20px;
    height: 100px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

td.right {
    text-align:right;
}

td, th {
    padding: 8px;
    font-size: 15px;
}

tbody > tr:nth-child(odd) {
    background-color: #99ffb3;
}

tbody > tr:nth-child(even) {
    background-color: #61fbae;
}

thead, tfoot {
    color: white;
    background-color: #125e08;
}

footer {
    margin-top: 40px;
}